<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Resume Alexandre Lamberty</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
	<div class="container">
		<div id="picture">
			<img src="{{. | Picture}}" alt="" width="240" height="240" />
		</div>
		<div id="about" class="item">
			<p class="firstname">{{.Name}}</p>
			<br>
			<p class="position">{{.Position}}</p>
			<h2>Profile</h2>
			<p class="about">{{.About}}</p>
		</div>
		<h2>Profile</h2>
		<h2>Employement history</h2>
		<div id="employement" class="item">
			<h2>Experience</h2>
			{{range $i, $val := .Employment -}} {{if lt $i 6}}
			<div class="experience {{ if $i }}line{{ end -}}">
				<div>
					<p class="entity">
						<strong>{{.Role}}</strong> <strong class="at">@</strong> {{.Entity}}
					</p>
					<p class="details">{{.Details}}</p>
				</div>
				<div class="dates">
					{{.Started}} - {{if .Stopped}}{{.Stopped}}{{else}}Present{{end}}
				</div>
			</div>
			{{end}} {{end -}}
		</div>
	</div>
</body>

</html>
